<html>
  <head>
    <link type="text/css" rel="stylesheet" href="https://golang.org/lib/godoc/style.css">
    <style>
      h2:hover a, h3:hover a {
        display: inline;
      }
    </style>
  </head>
  <body cz-shortcut-listen="true">
    <div id="page" class="wide" tabindex="-1" style="outline: 0px;">
      <div class="container">
        <h1>Перевод спецификации Go</h1>
        <h2>Версия от 18 ноября 2016</h2>
        <div id="nav"></div>
        {{ .Content }}
      </div>
    </div>

    <div id="footer">
      Build version go1.8.3.<br>
      Принять участие в переводе можно <a href="https://github.com/romanyx/spec">тут</a>.<br>
    </div>
  </body>

  <script type="text/javascript">
    window.initFuncs = [];
  </script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script type="text/javascript" src="https://golang.org/lib/godoc/godocs.js"></script>
</html>